%footer#footer
	%ul
		%li.copyright © #{get_info['site_title']}
		%li
			%a{ :href => "/rss" } RSS Feed
		%li.mark
			%a{ :href => "https://github.com/yoamomonstruos/markthisup" } Running on Mark This Up