!!! 5
%html
	%head
		%title= get_info['site_title']
		%link{ :rel => "stylesheet", :type => "text/css", :href => "/css/style.css" }
		%meta{ :name => "description", :content => get_info['site_description'] }
		%meta{ :name => "author", :content => get_info['author'] }
	%body
		= partial :'partials/_header'
		%section#content
			= yield
		= partial :'partials/_footer'