!!! 5
%html
	%head
		%title= site_title
		%link{ :rel => "stylesheet", :type => "text/css", :href => "/css/style.css" }
		%meta{ :name => "description", :content => site_description }
		%meta{ :name => "author", :content => author_name }
	%body
		#container
			= partial :'partials/_header'
			%section#content
				= yield
			= partial :'partials/_footer'