@import 'reset';
@import 'bootstrap';

body {
	background: #FFF;
	#font .sans-serif(normal, 13px, 22px);
	color: #333;
	-webkit-font-smoothing: antialiased;
}

//  =============
//  = Container =
//  =============

#container {
	margin: 50px auto;
	width: 960px;
}

//  =================
//  = Header Stuffs =
//  =================

header {
	border-bottom: 1px solid #EEE;
	margin: 0 10px;
	padding-bottom: 20px;
	width: 940px;
	.clearfix();
	h1 {
		float: left;
		margin-right: 20px;
		font-weight: bold;
	}
	nav {
		float: left;

		ul {
			margin-top: 1px;

			li {
				display: inline;
				margin-left: 20px;
			}
		}
	}
}

//  =================
//  = Content Stuff =
//  =================

section#content {
	border-bottom: 1px solid #EEE;
	margin: 0 10px;
	padding: 20px 0;
}

//  =================
//  = Foooter Stuff =
//  =================

footer#footer {
	margin: 0 10px;
	padding: 20px 0 0;

	a {
		color: #999;
		border-bottom: 1px solid #EEE;
		&:hover {
			color: #333;
			border-bottom: 1px solid #333;
		}
	}

	ul {

		li {
			display: block;
			float: left;
			margin-right: 20px;

			&.mark {
				float: right;
				margin-right: 0;
			}

			&.copyright {
				color: #CCC;
			}
		}
	}
}

//  =====================
//  = Global Typography =
//  =====================